/* CSS for sitemap.html start */
#sitemap-body {
    
}

#sitemap-body ul {
    
    color: black;
    list-style-type: disc;
}



#sitemap-body a { 
    
    color: black;
}

/* CSS for sitemap.html end */

/* CSS for site footer start */
#footer-links {
    
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
   display: inline-block;
   color: black;
}
/* CSS for site footer end */