/* CSS for sitemap.html start */
#sitemap-body {
    
}

#sitemap-body ul {
    
    color: black;
    list-style-type: disc;
}



#sitemap-body a { 
    
    color: black;
}

/* CSS for sitemap.html end */